<form class="form-inline" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Youtube URL" [(ngModel)]="youtubeUrl" name="youtubeUrl"/>
  </div>
  <button type="submit" class="btn btn-default">추출</button>
</form>
<div class="content">
    <p>test youtube url</p>
    <p>https://www.youtube.com/watch?v=8qQJFl3p78o&feature=youtu.be</p>
    <p>https://www.youtube.com/watch?v=xD1vUufr1Jc&feature=youtu.be</p>
    <div id="sheet-test">
    </div>
</div>
